.header {
    background-color: $color-primary;
    grid-row: 1 / 2;
    grid-column: full-start / full-end ;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-content: center;

    &__svg-div {
        opacity: 0; ///

        &--1 {
            animation: appear 1s linear 2.6s forwards;
        }

        &--2 {
            animation: appear .5s linear 3.5s forwards;
        }
    }

    &__svg {
        @include absoluteCenter;
        width: 35vw;
        height: min-content;

        &--3,
        &--5 {
            animation: rotate-left 8s linear 4s infinite reverse;
        }

        &--4 {
            animation: rotate-left 20s linear 4s infinite;
        }
        @include responsive(phone) { 
            width: 70vw;
        };
    }

    &__main {
        grid-column: 2 / 3;
        display: grid;
        transform: translateY(-20px);
        &-title--1 {
            transform: translateX(-20%);
            justify-self: start;
            @include responsive(tablet) { transform: translate(0); justify-self: center; }
        }
        &-title--3 {
            transform: translateX(30%);
            justify-self: end;
            @include responsive(sm-notebook) { transform: translateX(15%); }
            @include responsive(tablet) { transform: translateX(0); justify-self: center; }
        }
    
        @include responsive(phone) { 
            grid-row: 1 / 2;
            grid-column: 1 / -1;
        };
    }

    &__socials {
        grid-column: 3 / 4;
        justify-self: end;
        @include responsive(phone) { 
            position: absolute;
            right: 3rem;
            bottom: 2rem;
        };

        &-list {
            list-style: none;
            padding-right: 3rem;
            @include responsive(sm-notebook) { 
                transform: translateY(150%)
            };
            @include responsive(phone) { 
                padding: 0;
                transform: translateY(0);
                display: flex;
            };
        }

        &-item {
            height: 5rem;
            width: 5rem;
            transition: all .2s ease-in-out;

            &:not(:last-child) {
                margin-bottom: 1rem;
                @include responsive(phone) { 
                    margin-bottom: 0;
                    margin-right: 1.5rem;
                };
            }
            
            & svg {
                height: 100%;
                width: 100%;
                fill: $color-white;
            }

            &:hover {
                transform: translateY(-3px);
            }
            &:active {
                transform: translateY(-1px);

            }
        }
    }

}
