.header {
    background-color: $color-primary;
    grid-row: 1 / 2;
    grid-column: full-start / full-end ;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-content: center;
    justify-items: center;
    grid-row-gap: 10vw;

    @include responsive(sm-notebook) { grid-row-gap: 8vw; };
    @include responsive(tablet) { grid-row-gap: 12vw; };
    @include responsive(phone) { grid-row-gap: 12vw; };


    &__svg-div {
        opacity: 0; ///

        &--1 {
            animation: appear 1s linear 2.6s forwards;
        }

        &--2 {
            animation: appear .5s linear 3.5s forwards;
        }
    }

    &__svg {
        @include absoluteCenter;
        width: 35vw;
        height: min-content;

        @include responsive(sm-notebook) { width: 70vw; };

        &--3,
        &--5 {
            animation: rotate-left 8s linear 4s infinite reverse;
        }

        &--4 {
            animation: rotate-left 20s linear 4s infinite;
        }
        
        
    }

    &__main {
        grid-column: 2 / 3;
        display: grid;
        transform: translateY(-20px);
        &-title--1 {
            transform: translateX(-20%);
            justify-self: start;
            @include responsive(tablet) { transform: translate(0); justify-self: center; }
        }
        &-title--2 {
            @include responsive(smallphone) { 
                margin-top: 1rem;
                margin-bottom: 1rem;
            };
        }
        &-title--3 {
            transform: translateX(30%);
            justify-self: end;
            @include responsive(sm-notebook) { transform: translateX(15%); }
            @include responsive(tablet) { transform: translateX(0); justify-self: center; }
        }
    
        @include responsive(phone) { 
            grid-column: 1 / -1;
        };
    }

    &__socials {
        grid-column: 3 / 4;
        justify-self: end;
        @include responsive(phone) { 
            position: absolute;
            right: 3rem;
            bottom: 2rem;
        };

        &-list {
            list-style: none;
            padding-right: 3rem;
            @include responsive(sm-notebook) { 
                transform: translateY(150%)
            };
            @include responsive(phone) { 
                padding: 0;
                transform: translateY(0);
                display: flex;
            };
        }

        &-item {
            height: 5rem;
            width: 5rem;
            transition: all .2s ease-in-out;

            &:not(:last-child) {
                margin-bottom: 1rem;
                @include responsive(phone) { 
                    margin-bottom: 0;
                    margin-right: 1.5rem;
                };
            }
            
            & svg {
                height: 100%;
                width: 100%;
                fill: $color-white;
            }

            &:hover {
                transform: translateY(-3px);
            }
            &:active {
                transform: translateY(-1px);

            }
        }
    }

    &__resume {
        grid-column: 2/3;
        z-index: 10;
        display: flex;
        justify-content: center;
        grid-column-gap: 2rem;
        width: 100%;
        @include responsive(phone) { 
            grid-column: 1 / -1;
        };
    }
    
    &__download-link,
    &__download-link:link,
    &__download-link:visited {
        font-size: 2rem;
        color: $color-white;
        text-decoration: none;
        display: flex;
        align-items: center;
        border: 1px solid white;
        padding: 1rem 2rem;
        justify-self: start;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        max-width: 35%;
        transition: all .1s linear;
        @include responsive(phone) { 
            font-size: 1.5rem;
            padding: .5rem 1rem;
        };
        @include responsive(smallphone) { 
            font-size: 1.4rem;
            padding: .25rem .5rem;
        };

        &:hover {
            cursor: pointer;
            transform: translateY(-2px);
            color: black;
            background-color: white;
        }
    }

    &__download-link svg {
        width: 25px;
        height: 25px;
        fill: currentColor;
    }
}
