.projects {
    grid-column: full-start / full-end;
    background-image: linear-gradient(to bottom right, $color-quaternary, $color-primary-light);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    z-index: 1;

    &__title {
        grid-column: 1 / -1 ;
        grid-row: 1 / 2;
        text-align: center;
        font-size: 7rem;
        color: $color-white;
        z-index: 1;
        
    }

    &__item {
        grid-column: 2 / -2;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        box-shadow: $box-shadow-dark;
        margin-left: -10rem;
        z-index: 1;
        margin-bottom: 8rem;
        @include responsive(sm-notebook) { 
            grid-column: 1/-1;
            margin: 8rem 2rem;
        }
        @include responsive(phone) { 
            margin: 0rem 1rem 10rem;
        };

        &--1 {
            grid-row: 2 / 3;

            & .projects__image {
                object-position: left;
            }
        }
        
        &--2 {
            grid-row: 3 / 4;
        }

        &--3 {
            grid-row: 4 / 5;
        }

        &--4 {
            grid-row: 5 / 6;
        }
    

        &--4 {
            & .projects__image{
                object-position: 20%;
            }
            & .projects__image:hover {
                object-position: right;
            }
        }
    }
    
    &__image-div {
        grid-column: 1 / span 4;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        overflow: hidden; 
        position: relative;
        display: flex;
        @include responsive(phone) { 
            grid-column: 1/ -1;
            height: 500px;
            border-bottom-left-radius: 0;
            border-top-right-radius: 8px;
            flex-direction: column;
        };
    }
    &__image {
        min-width: 0;
        height: 100%;
        flex: 1;
        object-fit: cover;
        transition: all .5s;
        aspect-ratio: 16/9;
        &:hover,
        &:active {
            flex: 5;
        }
        &:not(:last-child){
            border-right: 1px solid black;
            @include responsive(phone) { 
                border-right: none;
                border-bottom: 1px solid black;
            };
        }
    }
    
    &__description {
        grid-column: 5 / span 2;
        padding: 3rem;
        color: $color-black;
        background-color: white;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-left: 1px solid $color-primary;
        display: flex;
        flex-direction: column;
        min-height: 480px;

        & a:link,
          a:visited {
            color: inherit;
        }
        @include responsive(phone) { 
            grid-row: 2/3;
            grid-column: 1/-1;
            border-top-right-radius: 0;
            border-bottom-left-radius: 8px;
            border-left: none;
            border-top: 1px solid $color-primary;
        };
    }

    &__name {
        font-size: 2.5rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
    }

    &__list-title {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.8rem;
    }

    &__list {
        list-style: none;
        columns: 2;
    }

    &__item {
        line-height: 1.3;
        font-size: 1.5rem;
    }

    &__text {
        font-size: 1.5rem;
        color: $color-primary-light;
    }

    &__links-div {
        display: flex;
        justify-content: space-around;
        margin-top: auto;
    }

    &__link,
    &__link:link,
    &__link:visited {
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        padding: 2rem;
        background-image: linear-gradient(to bottom right, $color-quaternary-light, $color-quaternary-dark-2);
        border-radius: 50%;
        position: relative;
        transition: all .2s;
        margin-top: 2rem;
        &::after {
            content: "";
            background-color: $color-quaternary;
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border-radius: 1000px;
            z-index: -1;
            transition: all 0.5s;
        }

        &:hover {
            transform: translateY(-3px);
            box-shadow: $box-shadow-dark;
    
            &::after {
                transform: scale(1.3);
                opacity: 0;
            }
        }

        &:active, &:focus {
            transform: translateY(-1px);
            box-shadow: $box-shadow-dark;
        }
    }

    &__svg {
        height: 4rem;
        width: 4rem;
        fill: $color-white;
    }

    &__details {
        grid-column: 3 / 7;
        grid-row-start: 1;
        grid-row-end: 6;
        border-left: 1px solid $color-quaternary;
        border-right: 1px solid $color-quaternary-dark;
    }
}